* {
    margin: 10;
    padding: 10;
    background-color: bisque;
}

h1 {
    color: brown;
    margin-left: 40px;
}

h2 {
    color: blue;
}

h4 {
    color: blueviolet;
}

p {
    color: black;
}

/* Selector descendente */
p span {
    color: green;
}

p.parrafo {
    color: rgb(127, 178, 255);
    font-size: 25px;
    font-weight: bold;
}

p#aviso {
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}

.cuadro{
    border: 10px
    blue dotted;
    padding: 10px 5px;
}