<div>
    <h3>EDUCACION</h3>
  <table>
    <tr>
      <td><strong>{{myPortfolio.Edu1.title}}</strong></td>
      <td>{{myPortfolio.Edu1.year}}</td>
    </tr>
    
    <tr>
      <td><a href={{myPortfolio.Edu1.url}}>IPAPPG</a>, {{myPortfolio.Edu1.School}}, {{myPortfolio.Edu1.place}}; {{myPortfolio.Edu1.country}}</td>
    </tr>
    <tr>
      <td><strong>{{myPortfolio.Edu2.title}}</strong></td>
      <td>{{myPortfolio.Edu2.year}}</td>
    </tr>
    <tr>
      <td>{{myPortfolio.Edu2.School}}, {{myPortfolio.Edu2.place}}; {{myPortfolio.Edu2.country}}</td>
    </tr>
    <tr>
      <td><strong>{{myPortfolio.Edu3.title}}</strong></td>
      <td>{{myPortfolio.Edu3.year}}</td>
    </tr>
    <tr>
      <td>{{myPortfolio.Edu3.School}}, {{myPortfolio.Edu3.place}}; {{myPortfolio.Edu3.country}}</td>
    </tr>
  </table>
  <hr>
</div>