@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
      background-color: #EAF6F6;
    }

h1 {
    color: #66BFBf;
    font-size: 50px;
    font-family: "Roboto";

}

h2 {
    color: #93FFD8;

}

h3 {
    color: #A6CF98;
    font-family: 'sans-serif';

}

table {
    padding-top: 10%;
    table-layout: auto;
    width: 100%;
    border-spacing: 10px;
}



hr {
      background-color: white;
      align-content: center;
      height: 0px;
      /* top | right | bottom | left */
      border-style: none;
      border-top-style: dotted;
      border-width: 5px;
      border-color: grey;
      width: 10%;
      
}

.container-fluid {
    padding-left: 800px;
    
}

#navbarToggleExternalContent {
    left: 100%;
    background-color: #e3f2fd;
     
}

.navbar {
    background-color: #e3f2fd;
}

.navbar-toggler {
    padding: 10px;
}

#switch {
    justify-content: space-between;
}

.img {
    background-color: #EAF6F6;
 
}



