/* You can add global styles to this file, and also import other style files */



@font-face {
    font-family: 'Poppins';
    src:  url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
   
}

.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    margin: 5px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn-block {
    display: block;
    width: 100%;
}

h1 {
    color:red;
    font-family: 'Poppins';
    font-size: 25px;
}